@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}
